
.head{
    background-color: brown;
    height: 130px;

    padding: 0px 0px;

}

.height-100{
    height: 100%;
}
.header-title{
    font-size: 40px;
}

.display-line{
    display: inline-block;
}

.margen{
    margin-right: 30px;
}

p{
    display: inline-block;
    margin: 30px;
}
.p1{
    background: violet;
}
.p2{
    background: yellow;
}
.p3{
    background: wheat;
}